version: '3.7'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask_app
    restart: always
    ports:
      - "8000:8000" # Mapowanie portu hosta na kontener
    environment:
      - FLASK_ENV=production
    depends_on:
      - redis
    volumes:
      - ./instance:/flask-app/instance

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery_worker
    command: celery -A main.celery worker -l info --pool=solo
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    volumes:
      - ./instance:/flask-app/instance

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery_beat
    command: celery -A main.celery beat --loglevel=info 
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    volumes:
      - ./instance:/flask-app/instance
  redis:
    image: redis:6.2
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
