amqp==5.3.1
APScheduler==3.10.4
async-timeout==4.0.3
backports.zoneinfo==0.2.1
billiard==3.6.4.0
cached-property==1.5.2
celery==5.2.7
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
colorthief==0.2.1
Flask==2.2.5
Flask-APScheduler==1.12.4
Flask-SQLAlchemy==3.0.5
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.4
kombu==5.2.4
MarkupSafe==2.1.5
packaging==24.0
Pillow==9.5.0
prompt_toolkit==3.0.48
python-dateutil==2.9.0.post0
pytz==2024.2
redis==5.0.8
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.36
typing_extensions==4.7.1
tzdata==2024.2
tzlocal==5.1
urllib3==2.0.7
vine==5.1.0
wcwidth==0.2.13
Werkzeug==2.2.3
zipp==3.15.0
