/* Ogólny styl dla strony */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Styl karty */
.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    padding: 20px;
    text-align: center;
}

/* Nagłówki */
.card h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Kontener zawartości */
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Styl obrazu profilowego */
.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

/* Styl albumów */
.albums {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dwie kolumny */
    grid-gap: 20px; /* Odstępy między albumami */
}

.album {
    text-align: center;
}

.album-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 5px;
}

.album h4 {
    margin: 0;
    font-size: 14px;
    color: #555;
}
